Repository kubecub/CloudBuildAI, changes with the owners that docs/CODEOWNERS names for each.
All owners: @cubxxw, @kubbot, 3293172751nss@gmail.com

docs/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @cubxxw and @kubbot will be requested for
# review when someone opens a pull request.
*       @cubxxw  @kubbot

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.js    @cubxxw #This is an inline comment.

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
*.go 3293172751nss@gmail.com

# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository. In this example,
# the kubecub team in the github organization owns all .txt files.
*.txt @cubxxw

# In this example, @cubxxw owns any files in the build/
# directory at the root of the repository and any of its
# subdirectories.
/build/* @cubxxw

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
docs/*  3293172751nss@gmail.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
api/ @cubxxw

# In this example, @cubxxw owns any file in the `/docs`
# directory in the root of your repository and any of its
# subdirectories.
/docs/ @cubxxw

# In this example, any change inside the `/scripts` directory
# will require approval from @cubxxw or @octocat.
/scripts/ @cubxxw @kubbot

# In this example, @octocat owns any file in a `/logs` directory such as
# `/build/logs`, `/scripts/logs`, and `/deeply/nested/logs`. Any changes
# in a `/logs` directory will require approval from @octocat.
**/logs @cubxxw

# In this example, @octocat owns any file in the `/apps`
# directory in the root of your repository except for the `/apps/github`
# subdirectory, as its owners are left empty.
/apps/ @cubxxw
/apps/github

feat(main): creating a doc command
  cmd/gpt/cmd/gen_doc.go
  cmd/gpt/cmd/root.go
  go.mod
  go.sum
Owners: 3293172751nss@gmail.com, @cubxxw, @kubbot

feat(main): design encapsulation of the logging package
  .golangci.yml
  README.md
  cmd/gpt/cmd/gen_doc.go
  cmd/gpt/cmd/root.go
  cmd/gpt/cmd/version.go
  golangci.yml
  pkg/common/common.go
  pkg/log/file_hook.go
  pkg/log/formatter.go
  pkg/log/logger.go
  pkg/version/type.go
  pkg/version/version.go
Owners: @cubxxw, @kubbot, 3293172751nss@gmail.com

feat(main): design encapsulation of the logging package
  cmd/gpt/cmd/root.go
  pkg/common/common.go
Owners: 3293172751nss@gmail.com

feat(main): optimize zhe makefile and instruction entry
  Makefile
  cmd/OWNERS.md
  cmd/gpt/cmd/chat.go
  cmd/gpt/cmd/root.go
Owners: @cubxxw, @kubbot, 3293172751nss@gmail.com

Update link-pr.yml
  .github/workflows/link-pr.yml
Owners: @cubxxw, @kubbot

Update link-pr.yml
  .github/workflows/link-pr.yml
Owners: @cubxxw, @kubbot

Update README.md
  README.md
Owners: @cubxxw, @kubbot

🔄 synced file(s) with kubecub/go-project-layout
  scripts/githooks/commit-msg
Owners: @cubxxw, @kubbot

🔄 synced file(s) with kubecub/go-project-layout
  .github/workflows/jekyll-gh-pages.yml
  .github/workflows/labeler.yml
  .github/workflows/link-pr.yml
Owners: @cubxxw, @kubbot

🔄 synced file(s) with kubecub/go-project-layout
  scripts/LICENSE_TEMPLATES
  scripts/license_templates.txt
Owners: @cubxxw, @kubbot

🔄 synced file(s) with kubecub/go-project-layout
  .github/workflows/labeler.yml
Owners: @cubxxw, @kubbot

🔄 synced file(s) with kubecub/go-project-layout
  scripts/LICENSE/LICENSE.md
  scripts/LICENSE/LICENSE_TEMPLATES
  scripts/LICENSE/license_templates.txt
Owners: @cubxxw, @kubbot

chore: delete issue template
  .github/workflows/link-pr.yml
Owners: @cubxxw, @kubbot

test: text opencommit
  .github/workflows/opencommit.yml
Owners: @cubxxw, @kubbot

feat: spell check
  .github/workflows/opencommit.yml
  .github/workflows/spell-check.yml
Owners: @cubxxw, @kubbot

feat: Automatic PR title AI fix
  .github/workflows/stale.yml
Owners: @cubxxw, @kubbot

🔄 synced file(s) with kubecub/go-project-layout
  .github/workflows/auto-invite.yml
  .github/workflows/gpt-translate.yml
  .github/workflows/help-comment-issue.yml
  .github/workflows/issue-robot.yml
  .github/workflows/test.yml
  scripts/githooks/pre-commit
Owners: @cubxxw, @kubbot

Create cla.yml
  .github/workflows/cla.yml
Owners: @cubxxw, @kubbot

🔄 synced file(s) with kubecub/go-project-layout
  .github/workflows/auto-assign-issue.yml
Owners: @cubxxw, @kubbot

🔄 synced file(s) with kubecub/go-project-layout
  .github/workflows/typos.yml
Owners: @cubxxw, @kubbot

🔄 synced file(s) with kubecub/go-project-layout
  .github/workflows/typos.yml
Owners: @cubxxw, @kubbot

🔄 synced file(s) with kubecub/go-project-layout
  .github/workflows/typos-check.yml
Owners: @cubxxw, @kubbot

🔄 synced file(s) with kubecub/go-project-layout
  .github/workflows/typos-check.yml
Owners: @cubxxw, @kubbot
